@model List<MvcCoreDemo.Models.ViewModel.TagDTO>

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container text-center">
        <h1> Tags </h1>
    </div>
</div>

<div class="container py-5">
    @if(Model != null && Model.Any())
    {
        <table class="table table-hover">
            <thead>
                <tr class="">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Display Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var tag in Model)
                {
                    <tr class="">
                        <td>@tag.Id</td>
                        <td>@tag.Name</td>
                        <td>@tag.DisplayName</td>
                        <td class="d-flex justify-content-end">
                            <div class="btn-group">
                                <a asp-area="" asp-controller="Tags" asp-action="Edit" asp-route-id="@tag.Id" class="btn btn-secondary" style="width:100px"><i class="bi bi-pencil"> Edit </i></a>
                                <a asp-area="" asp-controller="Tags" asp-action="Delete" asp-route-id="@tag.Id" class="btn btn-danger" onclick="return confirm('Are you sure?')" style="width:100px"><i class="bi bi-trash"> Delete </i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Tags found!</p>
    }
</div>