@model MvcCoreDemo.Models.ViewModel.UserManagerDTO
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container text-center">
        <h1> Users </h1>
    </div>
</div>
<div class="container py-5">

    <div asp-validation-summary="All"></div>

    <div class="mb-3 d-flex justify-content-end">
        <partial name="_newUserModal" model="Model.NewUser" />
    </div>


    @if (Model != null && Model.Users.Any())
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                        <td>
                            <div class="d-flex pt-1 gap-1">
                                @foreach (var role in user.Roles)
                                {
                                    <span class="badge bg-secondary pt-1">@role</span>
                                }
                            </div>
                        </td>
                        <td class="d-flex justify-content-end">
                            <div class="btn-group">
                                @if (user.Roles.Any(x => x.Equals("ADMIN")) && !User.IsInRole("SUPERADMIN"))
                                {
                                    <a class="btn btn-secondary" onclick="return alert('SUPERADMIN role is needed to Edit an ADMIN')" style="width:100px"><i class="bi bi-trash" disabled> Edit </i></a>
                                    <a class="btn btn-secondary" onclick="return alert('SUPERADMIN role is needed to Delete an ADMIN')" style="width:100px"><i class="bi bi-trash" disabled> Delete </i></a>
                                }
                                else
                                {
                                    <a asp-area="" asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-warning"  style="width:100px"><i class="bi bi-trash"> Edit </i></a>
                                    <a asp-area="" asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger" onclick="return confirm('Are you sure?')" style="width:100px"><i class="bi bi-trash"> Delete </i></a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Tags found!</p>
    }
</div>

